@using OcorrenciasWeb.Models
@{
    Layout = "/Views/Layout.cshtml";
}


<form action="/Ocorrencia/Create" method="POST">
    <div>
        <label>Titulo</label>
        <input type="text" class="form-control" name="Titulo"/>
    </div>

    <div>
        <label>Descrição</label>
        <textarea name="Descricao" class="form-control"></textarea>
    </div>

    <div class="row">
        <div class="col-6">
            <label>Abertura</label>
            <input type="date" class="form-control"  name="Abertura"/>
        </div>

        <div class="col-6">
            <label>Prazo</label>
            <input type="date" placeholder="dd-mm-yyyy"  class="form-control" name="Prazo"/>
        </div>
    </div>


    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
</form>
