@using OcorrenciasWeb.Models
@model Ocorrencia
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "/Views/Layout.cshtml";
    if(Model == null){
        return;
    }
}
<form action="/Ocorrencia/Update/@Model.IdOcorrencia" method="POST">
    <div>
        <label>Titulo</label>
        <input type="text" class="form-control" name="Titulo" value="@Model.Titulo"/>
    </div>

   <div>
        <label>Descricao</label>
        <textarea name="Descricao" class="form-control">@Model.Descricao</textarea>
    </div>

   <div>
        <label>Prazo</label>
        <input asp-for="Prazo" class="form-control"/>
    </div>

    <div>
        <label>Prioridade</label>
        <textarea name="Prioridade" class="form-control">@Model.Prioridade</textarea>
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
</form>
