@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;

}

<h1>Login</h1>
@if(!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger">@error</h2>
}

<form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <input type ="text"     name="email"    placeholder="email" />
    <input type ="text"     name="senha"    placeholder="senha" />
    <input type ="submit"   value="login" />
</form>