@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
    Layout = "/Views/LayoutL.cshtml";
    ViewBag.Title = "Login";
}
<div class="LogContainer">


    <div class="LogBox">
        <div class="title">Login</div>
        @if (!string.IsNullOrEmpty(error))
        {
            <h2 class="alert-danger">@error</h2>
        }
        <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
            <input type="text" name="email" placeholder="email" />
            <input type="text" name="senha" placeholder="senha" />
            <input class="ipBtn" type="submit" value="Login" />
        </form>
        <a href="/Cliente/Create">Cadastro</a>
    </div>
</div>