@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using OcorrenciasWeb.Models;
@model OcorrenciasWeb.Models.Cliente;
@{
    Layout = "/Views/Layout.cshtml";
}
<div class="LogContainer">
    <h3 style="color: red">Acesso Negado</h3>
</div>