@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using OcorrenciasWeb.Models;
@model OcorrenciasWeb.Models.Cliente;
@{
    Layout = "/Views/LayoutL.cshtml";
}

<div class="CadastroContainer">
    <form asp-controller="Cliente" asp-action="Create" method="POST">
        <div>
            <label>Nome</label>
            <br/>
            <span asp-validation-for="Nome" class="text-danger"></span>
            <input asp-for="Nome" class="form-control" name="Nome"/>
        </div>
        <div>
            <label>CPF</label>
            <input asp-for="Cpf" class="form-control" name="Cpf" mask="000-00-0000" title="Mask: 000-00-0000"/>
        </div>
        <div>
            <label>Telefone</label>
            <input type="text" class="form-control" name="Telefone" />
        </div>

        <div>
            <label>Email</label>
            <input type="text" class="form-control" name="Email" />
        </div>

        <div>
            <label>Senha</label>
            <input type="text" class="form-control" name="Senha" />
        </div>

        <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
    </form>
</div>
